<div{{ attributes.addClass('neo-modal--trigger-overlay') }}>
  <div class="neo-modal--trigger-overlay-inner">
    {% if icon %}<div class="neo-modal--trigger-overlay-icon">{{ icon }}</div>{% endif %}
    {% if title %}<div class="neo-modal--trigger-overlay-title">{{ title }}</div>{% endif %}
  </div>
</div>
